@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background: #051731;
  color: white;
  font-family: "PT Serif", serif;
}
#tasklist::-webkit-scrollbar{
  display: none;
}

#alltask::-webkit-scrollbar{
  display: none;
}